  /* START SCREEN */
  body {
    background-image: url('https://i.pinimg.com/originals/58/4c/19/584c19801a64c5f5f198b6c441d0cf7e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Harry P', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;

}

#splashScreen {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
}

#gameTitle {
    font-size: 5em;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -6px 1px 0 #000, 1px 1px 0 #000;
    padding: 20px;

}

#startBtn {
    margin-bottom: 20px;
    display: block;
    font-size: 2em;
    padding: 25px 35px;
    font-family: 'Harry P', sans-serif;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    transition: all .25s;
}

#startBtn:hover{
    letter-spacing: 15px;
  }

#dobby {
    color: grey;
}

#dobbyImgStart {
    height: 12em;
    align-self: flex-start;
}

#bottomPart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

#instructions{
    width: 50%;
    text-align: center;
    border: 2px solid black;
    padding: 0 15px;
}

#instructionsTitle{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -2px 1px 0 #000, 1px 1px 0 #000;
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 2px;
    letter-spacing: 3px;
}

#instructionsP{
    margin-top: 0;
    letter-spacing: 1px;
}

#gameObjective{
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: lighter;
    margin-bottom: 3px;
    margin-top: 0
}

#sockContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#sock {
    height: 300px;
    
}

#music{
    background-color: transparent;
}













/* GAME BOARD SCREEN */

#gameBoard{
    display: none;
    width: 70vw;
}

#startArea,
#gameArea,
#finishArea{
    height: 50vh;
    
}

#startArea,
#finishArea{
    background-color: #890000;
    opacity: 0.8;
    width: 15%;
}

#gameArea{
    background-color: #ffa700;
    opacity: 0.5;
    width: 70%;
}









/* FINISH SCREEN VICTORY*/

#finishScreenVictory {
    border: 5px solid black;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60vw;

}

#win{
    text-decoration: underline;
    text-decoration-color: #333;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -3px 1px 0 #000, 1px 1px 0 #000;
    font-size: 3em;
}

#time{
    font-size: 1.5em;
    color:#ffa700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -3px 1px 0 #000, 1px 1px 0 #000;
}

#howMuchTime{
    font-size: 2em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -3px 1px 0 #000, 1px 1px 0 #000;
}


#dobbyDiv{
    display: flex;
    width: 100%;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}


#dobbyImgFinish{
    height: 12em;
}


.playAgain{
    margin-bottom: 20px;
    display: block;
    font-size: 2em;
    padding: 25px 35px;
    font-family: 'Harry P', sans-serif;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    transition: all .25s;
    margin-right: 5px;
}

.playAgain:hover{
    letter-spacing: 10px;
  }









/* FINISH SCREEN LOSE */

#finishScreenLose{
    border: 5px solid black;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60vw;
    padding: 30px 0;
}

#lose{
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: #333;
    margin-bottom: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -3px 1px 0 #000, 1px 1px 0 #000;
}

#dementorDiv{
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

#dementorImg{
    height: 18em;
    margin-bottom: -20px;
}




/* PLAYER */

#player{
    position: absolute;
    background-color: white;
}

#timer{
    display: none;
}